{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "parser": "babel-eslint",
    "rules": {
        "semi": 0,
        "no-constant-condition": 0,
        "no-console": 0,
        "no-unused-vars": 1
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "Phaser": true
    },
    "plugins": [
        "vue"
    ]
}